@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    width: 100%;
}

.main__container {
    margin: 0 auto;
    width: 70%;
    padding-top: 3%;
}

.main__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
}