@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    width: 100%;
}

.main__container {
        margin: 0 auto;
        width: 60%;
}

.main__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    position: static;
    
}

.btn {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px 8px 0px 0px;
    border: none;
}

.btn:hover {
    background: #EDF9FF;
    border-radius: 16px;
    color: #117DC1;
    cursor: pointer;
}

.main__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 0px 0px;
}

.button_plus_minus {
    background: #117DC1;
    color: white;
    border-radius: 100%;
    border: none;
    margin-right: 10px;
}

.item__content {

}

.album__content {
    display: flex;
}

.star {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #ffffff;

    border: none;

    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;

    cursor: pointer;
}
.empty {
    background-image: image('/images/empty.png');
}