.main__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
}

.item_title {
    font-weight: 500;
    font-size: 22px;
    padding-left: 24px;
    cursor: pointer;
}

.item__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 24px
}

.item__content {
    padding-left: 56px;
    padding-top: 24px;
    padding-right: 56px;
}

.album__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
}

.album_title {
    padding-left: 24px;
    cursor: pointer;
}

.album__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 56px;
}

.album__photo {
    position: relative;
    padding-left: 42px;
    padding-bottom: 42px;
}

.photo__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    color: #787878;
}

.photo {
    border-radius: 5px;
}

.main__favourite {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    transition: all 0.2s ease-in;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 92px;
}

.favourite_empty {
    width: 100%;
    padding-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: rgba(0,0,0,0.2);
    padding:30px 0;
}

.preloader {
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bold {
    padding-top: 32px;
    padding-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
}

.error {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}